<mat-card>
  <div fxLayoutAlign="flex-start">
    <div>
      <mat-card-title>Chat</mat-card-title>
    </div>
    <span class="fill-space"></span>
    <div class="add-contact">
      <button mat-button (click)="openDialog()">Manage Members</button>
      <button mat-button (click)="deleteChat()">Delete Chat</button>
    </div>
  </div>
  <mat-card-content >
      <div class="container" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
          <mat-card-header><h3>Write message:</h3></mat-card-header>
          <form [formGroup]="messageForm" (ngSubmit)="onSend()">
            <mat-card-content>
              <div fxLayout="column">
                <input type="file" accept="image/*" name="image" (change)="onFileChange($event)">
                <mat-form-field class="msg-text-box" appearance="outline">
                  <textarea matInput placeholder="Write a message..." formControlName="mtext"></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button type="submit" [disabled]="!messageForm.valid" mat-raised-button color="primary">Send</button>
            </mat-card-actions>
          </form>
        </mat-card>
        <app-message *ngFor="let message of messages" [message]="message" fxLayoutAlign="center"></app-message>
      </div>
  </mat-card-content>
</mat-card>

