<mat-card>
  <div fxLayoutAlign="flex-start">
    <mat-card-title>
      My Contacts
    </mat-card-title>
    <span class="fill-space"></span>
    <button mat-button (click)="openDialog()">
      <i class="material-icons add-contact">add_circle_outline</i>
    </button>

  </div>
  <mat-tab-group>
  <mat-tab label="All Contacts">

    <mat-form-field>
           <input #searchAll matInput placeholder="search">
    </mat-form-field>
    <button mat-button (click)="searchContacts(searchAll.value)">
      <i class="material-icons add-contact">
        search
      </i>
    </button>
    <button mat-button (click)="clearSearch()">
      <i class="material-icons add-contact">
        cancel
      </i>
    </button>
  </mat-tab>
</mat-tab-group>
  <mat-table [dataSource]='contacts' *ngIf="contacts.length != 0">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ufirst_name">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.ufirst_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ulast_name">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.ulast_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="uphone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.uphone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="uemail">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.uemail}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: headers"></mat-row>
  </mat-table>
</mat-card>
