<mat-card class="example-card" fxFlex="60%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" routerLink="/chat/messages/{{message.mid}}">
  <mat-card-header>
    <img mat-card-avatar src="https://static.thenounproject.com/png/363633-200.png">
    <mat-card-title>{{message.ufirst_name}} {{message.ulast_name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{message.mimage}} alt="Message photo">
  <mat-card-content>
    <p>
      {{message.mtext}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <i class="material-icons">thumb_up</i>{{message.likes}}
    </button>
    <button mat-button>
      <i class="material-icons">thumb_down</i>{{message.dislikes}}
    </button>
    <button mat-button>
      REPLY
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <p fxLayoutAlign="end">
      {{message.mdate | date: 'mediumDate'}} {{message.mdate | date: 'shortTime'}}
    </p>
  </mat-card-footer>
</mat-card>
