<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row >
            <button mat-button [matMenuTriggerFor]="menu"
            #matMenuTrigger="matMenuTrigger"
            ><i class="material-icons">menu</i></button>
            <mat-menu #menu="matMenu">
              <div *ngIf="isLogin">
                <button mat-menu-item routerLink="/">Home</button>
                <button mat-menu-item routerLink="/contact-list">My Contacts</button>
                <button mat-menu-item routerLink="/all-chats">My Chats</button>
                <button mat-menu-item routerLink="/dashboard">Dashboard</button>
              </div>
              <div *ngIf="!isLogin">
                <button mat-menu-item routerLink="/">Home</button>
              </div>
            </mat-menu>
            <span>Grinder</span>
            <span class="fill-space"></span>
            <div *ngIf="isLogin">
              <button mat-button routerLink="/my-profile"><i class="material-icons">supervised_user_circle</i></button>
            </div>
            <div *ngIf="!isLogin">
              <button mat-button routerLink="/login">Login</button>
            </div>
  </mat-toolbar-row>
</mat-toolbar>
