<mat-card-header><h1>My Contacts</h1></mat-card-header>
<mat-table [dataSource]='contacts' *ngIf="contacts.length != 0">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let contact"> {{contact.username}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ufirst_name">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let contact"> {{contact.ufirst_name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ulast_name">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let contact"> {{contact.ulast_name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="uphone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let contact"> {{contact.uphone}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="uemail">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let contact"> {{contact.uemail}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
  <mat-row *matRowDef="let contact; columns: headers" (click)="addContactToChat(contact.contactid)"></mat-row>
</mat-table>
