<mat-card class="example-card" fxFlex="60%">
  <mat-card-header>
    <img mat-card-avatar src="https://static.thenounproject.com/png/363633-200.png">
    <mat-card-title>{{message.ufirst_name}} {{message.ulast_name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{message.mimage}}" alt="Message photo">
  <mat-card-content>
    <p>
      {{message.mtext}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>DISLIKE</button>
  </mat-card-actions>
  <mat-card-footer>
    <p fxLayoutAlign="end">
      {{message.mdate | date: 'mediumDate'}} {{message.mdate | date: 'shortTime'}}
    </p>
  </mat-card-footer>
</mat-card>
<mat-tab-group fxFlex="40%">
  <mat-tab label="Replies">
    <app-replies [replies]="replies"></app-replies>
  </mat-tab>
  <mat-tab label="Likes">
    <mat-list role="list" *ngFor="let like of likes">
      <mat-list-item role="listitem">{{like.userName}}</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Dislikes">

  </mat-tab>
</mat-tab-group>
