
<h2>Dashboard:</h2>
<div gdAlignColumns="space-evenly">
<div class="container" fxLayoutAlign="center">
  <google-chart id="TrendingHash"
    [title]="title3"
    [type]="type3"
    [data]="trending"
    [columnNames]="columnNames3"
    [options]="options2"
    [width]="width2"
    [height]="height2">
  </google-chart>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="space-evenly">
  <google-chart id="Postsperday"
    [title]="title2"
    [type]="type2"
    [data]="postsperday"
    [columnNames]="columnNames2"
    [options]="options2"
    [width]="width2"
    [height]="height2">
  </google-chart>

  <google-chart id="Repliesperday"
    [title]="title"
    [type]="type2"
    [data]="repliesperday"
    [columnNames]="columnNames"
    [options]="options2"
    [width]="width2"
    [height]="height2">
  </google-chart>
</div>


<div class="container" fxLayout="row" fxLayoutAlign="space-evenly">
  <google-chart id="Likessperday"
                [title]="title4"
                [type]="type2"
                [data]="likesperday"
                [columnNames]="columnNames4"
                [options]="options2"
                [width]="width2"
                [height]="height2">
  </google-chart>

  <google-chart id="Dislikesperday"
                [title]="title5"
                [type]="type2"
                [data]="dislikesperday"
                [columnNames]="columnNames5"
                [options]="options2"
                [width]="width2"
                [height]="height2">
  </google-chart>
</div>
</div>
